In [106]:
import pandas as pd
import requests
import json
import pyarrow as pa
from pyarrow import csv

In [107]:
# pip install pyarrow

In [119]:
key = 'your key'

In [113]:
def get_census_data_by_zip(api_key, fields, year):
    """
    Fetch census data by ZIP Code Tabulation Areas (ZCTAs) for specified fields.
    
    :param api_key: Your Census API Key.
    :param fields: List of fields to fetch.
    :param year: Census year (default is 2020).
    :return: DataFrame with fetched data.
    """
    base_url = f"https://api.census.gov/data/{year}/acs/acs5"
    
    # Combine the fields into a comma-separated string
    fields_str = ",".join(fields)

    # Construct the final URL
    url = f"{base_url}?get={fields_str}&for=zip%20code%20tabulation%20area:*"
    
    headers = {
        "Content-Type": "application/json",
    }

    # Make the API request
    response = requests.get(url, headers=headers, params={"key": api_key})
    
    if response.status_code == 200:
        data = response.json()
        # Convert data to DataFrame
        df = pd.DataFrame(data[1:], columns=data[0])
        df['year'] = year
        return df
    else:
        print(f"Error {response.status_code}: {response.text}")
        return None

In [114]:
# get labels
label = 'census data labels.xlsx - raw labels.csv'
label_df = pd.read_csv(label)
label_df = label_df[label_df['include'] == 1]

In [115]:
# set year, feature is set
year =2021


FIELDS = list(label_df['Name'])
FIELDS50 = FIELDS[0:50]
FIELDS100 = FIELDS[50:100]
FIELDS150 = FIELDS[100:150]
FIELDS200 = FIELDS[150:200]
FIELDS250 = FIELDS[200:250]
FIELDS300 = FIELDS[250:300]
FIELDS310 = FIELDS[300::]




df50 = get_census_data_by_zip(key, FIELDS50, year)
df100 = get_census_data_by_zip(key, FIELDS100, year)
df150 = get_census_data_by_zip(key, FIELDS150, year)
df200 = get_census_data_by_zip(key, FIELDS200, year)
df250 = get_census_data_by_zip(key, FIELDS250, year)
df300 = get_census_data_by_zip(key, FIELDS300, year)
df310 = get_census_data_by_zip(key, FIELDS310, year)
frames = [df50, df100, df150, df200, df250, df300, df310]
df = pd.concat(frames)

## saving to file locally
out = pa.Table.from_pandas(df)
file_name = 'census{}.csv'.format(year)
# csv.write_csv(out, file_name)


# df.to_csv('census2019.csv')


# '''
# Error 400: error: error: unknown variable 'B25130_001E'
# Error 400: error: error: unknown variable 'B25130_007E'
# Error 400: error: error: unknown variable 'C15003_013E'
# Error 400: error: error: unknown variable 'B25130_002E'
# Error 400: error: error: unknown variable 'B25130_009E'
# Error 400: error: error: unknown variable 'C15003_016E'
# Error 400: error: error: unknown variable 'B24114_002E'
# Error 400: error: error: unknown variable 'B25130_002E'
# Error 400: error: error: unknown variable 'B25130_009E'
# Error 400: error: error: unknown variable 'C15003_016E'
# '''

Error 400: error: error: unknown variable 'B25130_002E'
Error 400: error: error: unknown variable 'B25130_009E'
Error 400: error: error: unknown variable 'C15003_016E'

In [116]:
home_sales_df = pd.read_csv('ZHVI_Single_Family_Homes.csv')
home_sales_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,213600.835892,...,484812.248823,483270.636456,481038.183265,479721.873619,478668.367150,479881.403656,481894.597228,485046.382049,487872.991380,490385.169211
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,167714.483404,...,644904.087044,648741.824038,650794.311229,652508.254601,655175.941212,660548.696785,668432.531461,677540.593485,687378.218275,696773.567354
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,104043.772618,...,287849.265624,285784.837604,283338.919177,280982.358438,279112.875127,277911.266530,277429.566300,277812.780825,278579.748133,279482.307522
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,303671.045773,...,886897.867278,885628.363831,885552.350921,884145.746022,881743.541864,878675.145891,875712.760185,872584.255384,871420.265788,871160.471818
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,102990.478631,...,278537.547066,277502.648841,275922.593554,274305.254214,272963.850362,272159.780823,272011.024780,272611.025961,273460.285442,274335.613083

In [118]:
census2021 = pd.read_csv('census/census2021.csv')
master = home_sales_df.merge(census2021, left_on='RegionID', right_on='zip code tabulation area')
master.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,B25008_001E,B25008_002E,B25008_003E,B25017_001E,B25017_002E,B25017_003E,B25017_004E,B25017_005E,B25017_006E,__index_level_0__
0,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,303671.045773,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21728
1,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,303671.045773,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14444
2,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,303671.045773,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21728
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,303671.045773,...,2569.0,2138.0,431.0,1007.0,19.0,19.0,7.0,113.0,111.0,21728
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,102990.478631,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30872